@use 'sass:map';
@use'../abstracts/variables' as *;

.chapter4 {
    background-color: $secondary-color;
    padding-inline: $padding-inline-section;
    padding-top: 53px;
    padding-bottom: 80px;

    &__title {
        margin-bottom: 52px;
    }
}

@media (max-width: map.get($breakpoints, sm)) {
    .chapter4 {
        padding: 40px $padding-inline-section-sm;

        &__title {
            margin-bottom: 26px;
        }
    }
}