@use "../abstracts/variables";

@font-face {
  font-family: "Press Start 2P";
  src: url(assets/fonts/PressStart2P-Regular.woff2);
}

@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-SemiBold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter-ExtraBold.woff2);
  font-weight: 800;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  color: variables.$primary-color;
}
