@use '../abstracts/variables' as *;

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 22px;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    grid-column: span #{$i};
  }
}

@each $bp, $size in $breakpoints {
  @media (min-width: #{$size}) {
    @for $i from 1 through 12 {
      .#{$bp}\:col-#{$i} {
        grid-column: span #{$i};
      }
    }
  }
}